html {
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
}

html, body {
	margin: 5;
}

.lobby.page {
	height: 100%;
	width: 100%;
	display: none;
}

.room.page {
	height: 100%;
	width: 100%;
	display: none;
}

.chatinput {
	width: 250px;
}

.chatarea {
	height: 80%;
	width: 30%;
	overflow: auto;
}