html {
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
}

html, body {
	margin: 5;
}

.lobby.page {
	height: 100%;
	width: 100%;
	display: none;
}

.room.page {
	height: 100%;
	width: 100%;
	display: none;
}

.chatinput {
	width: 250px;
}

.chatarea {
	height: 80%;
	width: 30%;
	overflow: auto;
}

.room.innerframe {
	position: relative;
	height: 80%;
	width: 100%;
}

.room.chatarea {
	height: 100%;
	width: 30%;
	position: absolute;
	top: 0;
	left: 0;
}

.room.gamepanel {
	height: 100%;
	width: 70%;
	position: absolute;
	top: 0;
	right: 0;
}